version: "3"

services:
  uat-postgres:
    image: postgres
    container_name: uat_global_postgres_db
    restart: always
    command: postgres -c 'max_connections=100'
    environment:
      - POSTGRES_DB=${UAT_POSTGRES_DB}
      - POSTGRES_USER=${UAT_POSTGRES_USER}
      - POSTGRES_PASSWORD=${UAT_POSTGRES_PASSWORD}
    volumes:
      - ./uat_global_postgres_db:/var/lib/postgresql/data
    networks:
      - uat_network

  uat-pgadmin:
    image: dpage/pgadmin4
    container_name: uat_global_pgadmin4_container
    restart: always
    ports:
      - "${UAT_PGADMIN_PORT}:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${UAT_PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${UAT_PGADMIN_DEFAULT_PASSWORD}
    volumes:
      - ./uat_global_postgres_admin:/var/lib/postgresql/data/admin
    networks:
      - uat_network

  uat-redis:
    image: redis:latest
    restart: always
    container_name: global_redis
    env_file: .env
    networks:
      - uat_network

networks:
  uat_network:
    name: uat_network